
.nav{
    position: fixed;
    width: 250px;
    height: 100vh;
    background: $text;
    .header{
        font-size: 22px;
        color: $bg;
        text-align: center;
        line-height: 60px;
        background: #222;
    }
    &__list{
        padding: 0 10px;
        list-style: none;
    }
    &__item{

    }
    &__link{
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        color: $bg;
    }
}
  
.content{
    display: block;
    background: #000;
}